#dashboardNavbar {
    color: #e0e0e0;
    background-color: #1f2a40 !important;
}

#dashboardNavbar a {
    color: #e0e0e0 !important;
    text-decoration: none !important;
    margin-left: 10px;
}

#dashboardNavbar a:hover {
    text-decoration: underline !important;
}

#dashboardNavbar svg {
    margin-bottom: 5px;
    margin-right: 10px;
}