.sidebar {
    width: 300px;
    background-color: grey;
    display: block !important;
    background-color: #1f2a40 !important;
}

.sidebar .nav {
    flex-direction: column !important;
}

.collapse:not(.show) {
    display: none !important;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar .profileInfo {
    color: white;
    background-color: #3a3f8d;
}
