.App {
  text-align: center;
}

.shelterContainer {
  padding-top: 56px;
  display: flex;
  flex-direction: row;
  padding-left: 0px !important;
  padding-right: 0px !important;
  min-height: calc(100vh);
}

main {
  width: 100%;
  background-color: #131b2d;
}

body {
  background-color: #1f2a40 !important;
}

